@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #0094DE;
  --color-primaryLight: #E6F5FC;
}

@layer components{
  .section-container{
    @apply max-w-[1300px] mb-12 lg:mb-22 px-7 mx-auto;
  }
}

body {
  font-family: Inter, sans-serif;
}
